.formError {
  border: 1px red solid;
  padding: 4px;
  color: red;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 0 3rem 0;
  margin: 2rem;
  background-color: white;
  width: 30%;
  height: 25%;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}
.loginForm h2 {
  margin: 0 0 1rem 0;
}
.loginForm > * {
  margin-bottom: 1rem;
}
.rememberMe {
  display: flex;
}
.login {
  display: inline-block;
  background-color: rgb(37, 107, 247);
  color: white;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  font-weight: 700;
  font-size: 12px;
  border-radius: 5px;
  border: 0px;
  cursor: pointer;
  width: 18.5rem;
  padding: 1.1rem 0;
  vertical-align: center;
  text-align: center;
}
.login:hover {
  background-color: rgb(22, 63, 212);
}
.field {
  width: 18rem;
  height: 2rem;
}
