.avatar {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  align-self: center;
}
.avatarName {
  grid: ava;
}
.unChosenPage {
  cursor: pointer;
}
.gridButton {
  grid-area: button;
  align-self: center;
}
.gridButton button {
  width: 100%;
  height: 30px;
}
.status {
  grid-area: status;
  align-self: center;
}
.location {
  font-size: 12px;
}
.getUsers {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.users {
  background-color: aliceblue;
  margin: auto;
  margin-bottom: 10px;
  width: 40%;
  padding: 1rem;
  border: 0.2rem solid rgba(101, 109, 114, 0.3);
  display: grid;
  grid-template-areas:
    'ava status button'
    'ava status button';
  grid-template-columns: 3fr 5fr 3fr;
}
.description {
  font-size: 14px;
}
