.nav {
  grid-area: n;
  background-color: #edeef0;
  padding: 20px;
}

.item a {
  color: white;
  text-decoration: none;
}
.item a:hover {
  color: gold;
}
.item .activeLink {
  color: black;
}
.item .disableLink {
  color: white;
}
