.header {
  grid-area: h;
  background-color: rgba(92, 147, 167, 0.8);
}

.header img {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
}

.logout {
  width: 4.5rem;
  height: 1.5rem;
}

.wrapperLogout {
  float: right;
  padding: 1rem;
}
