.app-wrapper {
  margin: 0px auto;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: rgb(186, 217, 228);
}
